.card {
    height:150px;
    width:100px;
    border:1px solid #000;
    border-radius:10px;
    background-color:#fff;
    display:inline-block;
    font-family:sans-serif;
    margin:4px;
    cursor:default;
    overflow:hidden;
    -webkit-user-select:none;
    -khtml-user-select:none
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.hand {
    display:inline-block;
    margin:4px;
    max-width:100%;
}
.card.in-hand {
    margin-right:-70px;
    transform:translateY(0.001px);
}
.card.in-hand:hover {
    transform:translateX(-10px) translateY(-10px);
}
.card.in-hand:hover:after {
    padding-bottom:14px;
    padding-right:14px;
}
.card:before {
    content:"";
    position:absolute;
    display:block;
    margin-top:2px;
    font-size:18px;
    width:20px;
    text-align:center;
    line-height:20px;
    white-space:pre;
}
.card:after {
    font-size:34px;
    line-height:50px;
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    text-align:center;
    white-space:pre;
    background-size:66px 110px;
    background-repeat:no-repeat;
    background-position:17px 20px;
    content:"";
}
.card[value='19'], .card[value='20'], .card[value='21'], .card[value='22'], .card[value='23'], .card[value='24'], .card[value='25'], .card[value='26'], .card[value='27'], .card[value='28'], .card[value='29'], .card[value='30'], .card[value='31'], .card[value='32'], .card[value='33'], .card[value='34'], .card[value='35'], .card[value='36'] {
    color:#F00;
}
.card[value='0'] {
    display:none;
}
.card[value='1']:before {
    content:"6\A♠";
}
.card[value='1']:after {
    content:"♠ ♠\A♠ ♠\A♠ ♠";
}
.card[value='2']:before {
    content:"7\A♠";
}
.card[value='2']:after {
    content:"♠ ♠\A♠ ♠ ♠\A♠ ♠";
}
.card[value='3']:before {
    content:"8\A♠";
}
.card[value='3']:after {
    content:"♠♠♠\A♠ ♠\A♠♠♠";
}
.card[value='4']:before {
    content:"9\A♠";
}
.card[value='4']:after {
    content:"♠♠♠\A♠ ♠ ♠\A♠♠♠";
}
.card[value='5']:before {
    content:"J\A♠";
}
.card[value='5']:after {
    background-image:url("images/js.gif");
}
.card[value='6']:before {
    content:"Q\A♠";
}
.card[value='6']:after {
    background-image:url("images/qs.gif");
}
.card[value='7']:before {
    content:"K\A♠";
}
.card[value='7']:after {
    background-image:url("images/ks.gif");
}
.card[value='8']:before {
    content:"10\A♠";
}
.card[value='8']:after {
    content:"♠♠♠\A♠♠♠♠\A♠♠♠";
}
.card[value='9']:before {
    content:"A\A♠";
}
.card[value='9']:after {
    font-size:100px;
    line-height:150px;
    content:"♠";
}
.card[value='10']:before {
    content:"6\A♣";
}
.card[value='10']:after {
    content:"♣ ♣\A♣ ♣\A♣ ♣";
}
.card[value='11']:before {
    content:"7\A♣";
}
.card[value='11']:after {
    content:"♣ ♣\A♣ ♣ ♣\A♣ ♣";
}
.card[value='12']:before {
    content:"8\A♣";
}
.card[value='12']:after {
    content:"♣♣♣\A♣ ♣\A♣♣♣";
}
.card[value='13']:before {
    content:"9\A♣";
}
.card[value='13']:after {
    content:"♣♣♣\A♣ ♣ ♣\A♣♣♣";
}
.card[value='14']:before {
    content:"J\A♣";
}
.card[value='14']:after {
    background-image:url("images/jc.gif");
}
.card[value='15']:before {
    content:"Q\A♣";
}
.card[value='15']:after {
    background-image:url("images/qc.gif");
}
.card[value='16']:before {
    content:"K\A♣";
}
.card[value='16']:after {
    background-image:url("images/kc.gif");
}
.card[value='17']:before {
    content:"10\A♣";
}
.card[value='17']:after {
    content:"♣♣♣\A♣♣♣♣\A♣♣♣";
}
.card[value='18']:before {
    content:"A\A♣";
}
.card[value='18']:after {
    font-size:100px;
    line-height:150px;
    content:"♣";
}
.card[value='19']:before {
    content:"6\A♦";
}
.card[value='19']:after {
    content:"♦ ♦\A♦ ♦\A♦ ♦";
}
.card[value='20']:before {
    content:"7\A♦";
}
.card[value='20']:after {
    content:"♦ ♦\A♦ ♦ ♦\A♦ ♦";
}
.card[value='21']:before {
    content:"8\A♦";
}
.card[value='21']:after {
    content:"♦♦♦\A♦ ♦\A♦♦♦";
}
.card[value='22']:before {
    content:"9\A♦";
}
.card[value='22']:after {
    content:"♦♦♦\A♦ ♦ ♦\A♦♦♦";
}
.card[value='23']:before {
    content:"J\A♦";
}
.card[value='23']:after {
    background-image:url("images/jd.gif");
}
.card[value='24']:before {
    content:"Q\A♦";
}
.card[value='24']:after {
    background-image:url("images/qd.gif");
}
.card[value='25']:before {
    content:"K\A♦";
}
.card[value='25']:after {
    background-image:url("images/kd.gif");
}
.card[value='26']:before {
    content:"10\A♦";
}
.card[value='26']:after {
    content:"♦♦♦\A♦♦♦♦\A♦♦♦";
}
.card[value='27']:before {
    content:"A\A♦";
}
.card[value='27']:after {
    font-size:100px;
    line-height:150px;
    content:"♦";
}
.card[value='28']:before {
    content:"6\A♥";
}
.card[value='28']:after {
    content:"♥ ♥\A♥ ♥\A♥ ♥";
}
.card[value='29']:before {
    content:"7\A♥";
}
.card[value='29']:after {
    content:"♥ ♥\A♥ ♥ ♥\A♥ ♥";
}
.card[value='30']:before {
    content:"8\A♥";
}
.card[value='30']:after {
    content:"♥♥♥\A♥ ♥\A♥♥♥";
}
.card[value='31']:before {
    content:"9\A♥";
}
.card[value='31']:after {
    content:"♥♥♥\A♥ ♥ ♥\A♥♥♥";
}
.card[value='32']:before {
    content:"J\A♥";
}
.card[value='32']:after {
    background-image:url("images/jh.gif");
}
.card[value='33']:before {
    content:"Q\A♥";
}
.card[value='33']:after {
    background-image:url("images/qh.gif");
}
.card[value='34']:before {
    content:"K\A♥";
}
.card[value='34']:after {
    background-image:url("images/kh.gif");
}
.card[value='35']:before {
    content:"10\A♥";
}
.card[value='35']:after {
    content:"♥♥♥\A♥♥♥♥\A♥♥♥";
}
.card[value='36']:before {
    content:"A\A♥";
}
.card[value='36']:after {
    font-size:100px;
    line-height:150px;
    content:"♥";
}