.chip {
    font-size: 16px;
    line-height: 40px;
    position: absolute;
    top: 0;
    right: 2px;
    color: #fff;
    margin: 5px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
}
button {
    width:200px;
    height:2em;
    font-size:14px;
    overflow:hidden;
    vertical-align:top;
    background-color:#333;
    border:none;
    margin:2px;
    color:#fff;
    cursor:pointer;
}
button[disabled] {
    cursor:not-allowed;
    background-color:#444;
    color:#777;
}